<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page principale</title>
</head>
<body>
    <a href="{% url 'index' %}"><H1>Bienvenu sur notre site web</H1></a>
    {% if  user.is_authenticated %}
       {{user.username}}
       <a href="{%  url 'logout' %}"><h1>Deconnection</h1></a>
    {% else %}
    <a href="{% url 'login' %}"><H1>Connexion</H1></a>
    <a href="{% url 'signup' %}"><H1>S'inscrire</H1></a>
    {% endif %}
   {% block  content%}
   {% endblock  %} 
   {% comment  %}
    dans le fichier html de application
     {% extends 'base.html' %}
   {% endcomment %}
</body>
</html>